main{grid-area: main;}

div.dropdown{
	position: absolute;
	right: 5px;
	top: 5px;
}

div.dropdown-content{
	right: 0;
}

h2{
	font-size: 38px;
	text-decoration: underline;
}


main h2{
	text-align: center;
	border: 2px rgb(139, 139, 139) solid;
	margin: 10px 0;
	padding: 5px;
}

body{
	margin: 0;
	background-color: rgba(128, 238, 64, 0.322);
	/*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"main"
	"footer";
	grid-gap: 5px;
}

#fameBox, #shameBox{
	display: grid;
	grid-template-areas: 
	"b1 b2 b3"
	"b4 b5 b6"
	"b7 b8 b9";
	grid-gap: 30px 7%;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 5%;
}


.gallery-box{
	display: grid;
	grid-template-areas: 
	"imgGallery imgGallery"
	"userAndTitle userAndTitle";
	grid-template-rows: 200px auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	/*background-color: rgba(105, 255, 59, 0.699); */
	padding: 5px;
}

.gallery-box>img{
	grid-area: imgGallery;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-box .username, .gallery-box .title{
	padding: 5px;
	margin: 0;
	/*border: 2px solid rgba(0, 0, 0, 0.226); */
}

.gallery-box .username{
	grid-area: usernameGallery;
}

.gallery-box .title{
	grid-area: titleGallery;
}

.usernameAndTitleBox{
	grid-area: userAndTitle;
	display: grid;
	grid-template-areas:"usernameGallery titleGallery";
	grid-template-columns: 1fr 1fr;
	background-color: rgba(255, 255, 255, 0.363);
	grid-gap: 0px;
	border: 1px solid black;
}

.b1{grid-area: b1;}
.b2{grid-area: b2;}
.b3{grid-area: b3;}
.b4{grid-area: b4;}
.b5{grid-area: b5;}
.b6{grid-area: b6;}
.b7{grid-area: b7;}
.b8{grid-area: b8;}
.b9{grid-area: b9;}

