/*BODY*/

/*Body selectors, changes for the whole website*/
body {
    background-color: rgb(70, 185, 15);
	font-family: "Verdana";
    margin:0px;
}

/*HEADER*/

/*Header gridlayout*/
header {
    grid-area: header; /*The name to use in the grid-template-areas*/
    display: grid;
    grid-template-areas:
    "logo title nav";
    grid-template-columns: 1fr 1fr 1fr; /*Fixes the grid column sizes so the logo and the nav menu has a limited space*/
    background-color: rgb(44, 44, 44);
}
/*Top left logo class*/
.logo {
    grid-area: logo;
}
/*Main header (sustaining) class*/
h1 {
    grid-area: title;
    font-size: 250%;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/*NAVBAR / BURGER MENU*/

/*Moves the dropdown menu/nav to a top right position*/
nav .dropdown{
	position: absolute;
	right: 35px;
    top: 35px;
    grid-area: nav;
    display: inline-block;
}
.dropdown {
    position: relative;
}
/*Makes the dropdown content visible*/
nav .dropdown-content{
	right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #e4e4e4
}
.dropdown:hover .dropdown-content {
  display: block;
}
.burgermenu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

/*FOOTER*/

/*The footer (at the bottom of the page) - contains a logo and links to other pages of the website*/
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    background-color: rgb(44, 44, 44); /* the background of the footer*/
}
/*Class for the unorderd list inside of the footer*/
footer ul {
    list-style: none; /*Removes the cirkles left of the text/links*/
    text-align: center;
}
/*Class for the a tag in the unorderd list inside of the footer*/
footer ul a {
    text-decoration: none; /*Removes the underline bellow the text*/
    color: white;
}
footer ul a:hover {
    color: rgb(128, 128, 128)
}

/*OTHER GLOBAL DESIGNING*/

/*Upload button*/
button {/*The size of the button*/
	width: 150px;
	height: 50px;
}
button {
    font-size: 13px;
    border: 2px solid #2d3e50; /* steel blue */
    color: #2d3e50; /* steel blue */
    border-radius: 30px;
    font-size: 16px;
}
button:hover {
    background-color: #2d3e50; /* steel blue */
    color:white;
}