/*Body selectors, changes for the whole website*/
body {
    background-image: url('../img/background.jpg');
	font-family: "Verdana";
}
/*Main grid layout for the whole website
Sub grids are making smaller boxes inside of these boxes*/
.wrapper {
	display: grid; /*Explains that the wrapper class should display a grid*/
	grid-template-columns: 1fr 1fr 1fr; /*Devides the whole grid layout into 3 columns*/
	grid-gap: 15px 3rem; /*Gap/space between the different grid boxes - first value is laying (-,rows) while the second value is standing (|,columns)*/
	grid-template-rows: auto 25px auto auto; /*How much space the different grid rows are allowed to use*/
}

.page1 .wrapper{
	grid-template-areas: /*How the different elements should be positioned inside of the grid and how much space/boxes the should use*/
	"header header header" /*Row 1*/
	". . ." /*Row 2 - empty row without any objects*/
	"main main main" /*Row 3*/
  "footer footer footer"; /*Row 4*/
}

.page2 .wrapper{
	grid-template-areas: /*How the different elements should be positioned inside of the grid and how much space/boxes the should use*/
	"header header header" /*Row 1*/
	". . ." /*Row 2 - empty row without any objects*/
	"main main main" /*Row 3*/
  "footer footer footer"; /*Row 4*/
}
/*Header gridlayout*/
header {
    grid-area: header; /*The name to use in the grid-template-areas*/
    display: grid;
    grid-template-areas:
    "logo h1 nav";
    grid-template-columns: 150px auto 75px; /*Fixes the grid column sizes so the logo and the nav menu has a limited space*/
}
/*Top left logo class*/
.logo {
    grid-area: logo;
}
/*Main header (sustaining) class*/
h1 {
    grid-area: h1;
}
/*Dropdown menu class*/
.dropdown {
    grid-area: nav;
}
/*Moves the dropdown menu/nav to a top right position*/
div.dropdown{
	position: absolute;
	right: 25px;
	top: 25px;
}
/*Makes the dropdown content visible*/
div.dropdown-content{
	right: 0;
}
/*Grid layout inside of the main tags*/
.page1 main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "aboutTree aboutTree aboutTree"
		". . ."
    "fameShame fameShame fameShame"
    "goals goals goals";
    grid-gap: 30px; /*When only one value are used then both the laying rows and the standing columns get the same gap*/
}
.page2 main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "images textblock textblock";
    grid-gap: 30px; /*When only one value are used then both the laying rows and the standing columns get the same gap*/
	grid-template-columns: 300px auto auto; /*Changes the size of the columns, the first one gets 300px while the other ones are automatic*/
}
/*The first section in the main - text about the project, a tree and some photos*/
.aboutTree {
    grid-area: aboutTree;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "aboutImages animatedTree aboutText";
    grid-gap: 30px;
}
/*The grid for the images in the first section of the main*/
.aboutImages {
    grid-area: aboutImages;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
/*The class for the tree in the first section of the main*/
.animatedTree {
    grid-area: animatedTree;
}
/*The about text in the first section of the main - does also contain the upload button*/
.aboutText {
    grid-area: aboutText;
    display: grid;
    grid-template-rows: 60px auto auto;
}
/*Upload button*/
button {
    margin-left: 35%; /*Adds a margin to the left of the object (in this case the button)*/
    /*The size of the button*/
	width: 150px;
	height: 50px;
}
/*The second section in the main - text about fame and same along with both fame and shame images*/
.fameShame {
    grid-area: fameShame;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "fameText fameImages shameText shameImages";
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
}
/*The images for fame in the second section - makes a grid to place them bellow each other*/
.fameImages {
    grid-area: fameImages;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
}
/*The images for shame in the second section - makes a grid to place them bellow each other*/
.shameImages {
    grid-area: shameImages;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
}
/*The thrid section in the main - text about the goals with this website/project*/
.goals {
	grid-area: goals;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
/*Class for resizing all images - should be updated to only change the wanted images*/
img {
    height: 100px; /*Changes the height of the images*/
    width: auto; /*Makes the image width auto compared to how big the height is*/
}
/*Class for all p tags (paragraph/text tags)*/
p {
	text-align: justify; /*Spreads out the text so it uses the full rows - can look weird sometimes so make sure to check through all text*/
}
/*The footer (at the bottom of the page) - contains a logo and links to other pages of the website*/
footer {
    grid-area: footer;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
}
/*Class for the unorderd list inside of the footer*/
footer ul {
    list-style: none; /*Removes the cirkles left of the text/links*/
}
/*Class for the a tag in the unorderd list inside of the footer*/
footer ul a {
    text-decoration: none; /*Removes the underline bellow the text*/
    /*More text changes for the links can be added here*/
}

.goalText2{

    margin-top: 44.5px;
}
.tree {
    height:400px;
    width:400px:
}
footer a:hover {
    background-color: white;
}
footer a:visited{
    color:grey;
}

footer a:link {
    color: gray;
}

footer ul{
    list-style: none; 
}
