body {
	background-color: #5672a1; /*steelblue*/
	font-family: "Verdana";
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	". . ."
	"main main main"
  "footer footer footer";
	grid-gap: 15px 3rem;
	grid-template-rows: auto 25px auto auto;
}
header {
	grid-area: header;
}
main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "textblock textblock textblock"
    "fameShame fameShame fameShame"
    "goals goals goals";
    grid-gap: 30px;
}
.textblock {
    grid-area: textblock;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "images animatedTree aboutText";
    grid-gap: 30px;
}
.images {
    grid-area: images;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
footer {
    grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
img {
    height: 100px;
    width:	auto;
}
