.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
}

.img-fluid {
  max-width: 40% !important;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f2f0ed;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-family: otama;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: otama;
  letter-spacing: 0.1rem;
  background-color: #f2f0ed;
  font-family: otama;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 7rem;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 0;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-bottom: 10rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

footer div {
  background-color: #F2F0ED;
  padding-bottom: 40px;
  padding-top: 40px
}

footer a {
  margin-right: 15rem;
  margin-top: 2rem;
  color: #2B362D !important;
}
