/* Fully Custom */
@media (min-width: 992px) {
  header.masthead {
    padding-bottom: 10rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

strong {
  font-family: 'otama.epregular';
}

#page-top {
  font-family: 'otama.epregular';
}

#textpiccss {
  font-size: 24px;
  color: #2B362D;
}

#textfamecss {
  font-size: 24px;
  color: #2B362D;
}

#textshamecss {
  font-size: 24px;
  color: #2B362D;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f2f0ed;
  font-family: 'otama.epregular';
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-family: 'otama.epregular';
  background-color: #f2f0ed;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: otama;
  letter-spacing: 0.1rem;
  background-color: #f2f0ed;
  font-family: 'otama.epregular';
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 7rem;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 0;
  position: relative;
}

footer div {
  background-color: #F8F9FA;
  padding-bottom: 40px;
  padding-top: 40px
}

footer a {
  margin-right: 15rem;
  margin-top: 2rem;
  color: #2B362D !important;
}

.catch {
  background-color: #B6C3B7;
}

.box-text {
  background-color: #B6C3B7;
}

.statistics {
  background-color: #B6C3B7;
}

.tpic {
  padding-top: 1rem;
}

#goaltext {
  width: 100%;
  height: auto;
  color: #F2F0ED;
}

p {
  grid-area: p;
}

/*goal line*/
.goal {
  background-color: #546957;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "gridContainer gridContainer gridContainer"
    ". p ."
  ;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  grid-column-gap: 3vw;
  grid-area: gridContainer;
}

.goal-spacer-left {
  border-top: 4px solid white;
}

.goal-header {
  display: block;
  font-size: 4em;
  color: white;
  font-family: "Otama.ep";
  text-align: center;
}

.goal-spacer-right {
  border-top: 4px solid white;
}

.grid-container>div {
  font-size: 3vw;
}

.spacer-left {
  border-top: 4px solid #2b362d;
}

.spacer-left2 {
  border-top: 4px solid #F2F0ED;
}

.spacer-right {
  border-top: 4px solid #2b362d;
}

.spacer-right2 {
  border-top: 4px solid #F2F0ED;
}

.header-image {
  width: 100%;
}

h3.about {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 10px;
}

h2.about {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 10px;
}

p.about {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  max-width: 30rem;
  margin-left: 10px;
}

img.about {
  width: auto;
}

img.right {
  float: right;
  margin-right: 40px;
  max-width: 80rem !important;
}

/* Bootstrap Overwrite */
.btn-primary {
  background-color: #A68163 !important;
  border-color: #A68163 !important;
}

.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
}

.img-fluid {
  max-width: 40% !important;
}

.p-5 {
  align-items: center !important;
}

.lead {
  font-weight: lighter !important;
}

.navbar-brand {
  color: #2B362D !important;
}

.nav-link {
  color: #2B362D !important;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (min-width:991px) {
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #2B362D;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: -.5em;
  }

  .nav-links ul li:hover::after {
    width: calc(100% - 1em);
  }
}


.f1s {
  margin-top: 3rem;
  font-size: 5rem;
  color: #2B362D;

}

.f1s_p {
  font-size: 5rem;
  color: #2B362D;
}
 

.f2s {
  margin-top: 3rem;
  font-size: 1.5rem;
  color:#2B362D
}
.f3s {
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  color: #f2f0ed;
}

