.gallery {
  border: 1px solid #ccc;
}

main img {
  max-width: 100%;
  min-width: 300px;
}

main {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
}

.txtwow {
  text-align: center;
  border-top-style: solid;
  border-top-color: #b6c3b7;
  border-top-width: 20px;
  border-right-style: solid;
  border-right-color: #b6c3b7;
  border-right-width: 20px;
  border-left-style: solid;
  border-left-color: #b6c3b7;
  border-left-width: 20px;
  margin-bottom: 0;
}
.ggally {
  border-top-style: solid;
  border-top-color: #b6c3b7;
  border-top-width: 20px;
  border-right-style: solid;
  border-right-color: #b6c3b7;
  border-right-width: 20px;
  border-left-style: solid;
  border-left-color: #b6c3b7;
  border-left-width: 20px;
}
.popfunk{
  position: fixed;
  top: 0; left: 0;
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  z-index: 100;
}.popfunk{
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  z-index: 100;
}