.gallery {
  border: 1px solid #ccc;
}

main img {
  max-width: 100%;
  min-width: 300px;
}

main {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
}

.txtwow {
  text-align: center;
}
