main {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

main>iframe:first-child {
  width: 600px;
  height: 400px;
  grid-column: 2;
  border: none;
}

main>iframe+iframe {
  width: 400px;
  height: 400px;
  grid-column: 3;
  border: none;
}

p {
  font-size: 24px;
  color: rgb(43, 54, 45);
}
