
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root{
  font-family: 'Quicksand', sans-serif;
}


/*---header/footer---*/
header nav{
   display: grid;
 grid-template-columns: 2fr 4fr 1fr;
 background-color: #F2F0ED;
}


header img{
  vertical-align: middle;
  height: 3em;
  margin: auto;
 }


nav > a{
    text-decoration: none;
    text-align: center;
}
a{
  font-family:"otama.epregula";
  color: black;
  font-size: 1.25rem;
  margin:auto ;
 }
nav > a ~ a {
  background: #A68163;
  color: white;
}


footer{
 display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  text-decoration: none;
  background-color: #F2F0ED;
}

footer > a ~ a{
  margin-left: 20px;
}

















  nav ul {
    text-align: right;
    list-style: none;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
  }
  
  nav ul li a {
    color: #2B362D;
    text-decoration: none;
    font-size: 20px;
  }
  
  @media screen and (min-width:991px) {
    nav ul li::after {
      content: "";
      width: 0%;
      height: 1px;
      background: #2B362D;
      display: block;
      margin: auto;
      transition: 0.5s;
      margin-top: -.1em;
    }
  
    nav ul li:hover::after {
      width: calc(100%);
    }
  }
  

  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 10px;
    padding: 10px;
  }

  .grid-container > div {

    text-align: center;
    padding: 20px 0;
    font-size: 60px;
    height: 10px;
  }



.item1 {
    border-top: 4px solid #2b362d;
    margin-top: 8vh;
}
.item2{
    display: block;
    width: 30vw;
    height: 5vw;
    font-size: 4vw;
    color: #2b362d;
    font-family: "Otama.ep";
    text-align: center;
}

.item3 {
    border-top: 4px solid #2b362d;
    margin-top: 8vh;
}
