/*-- only for code that should apply to every page*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  margin: 0;
}
main {
  margin-top: 110px;
}

Header {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;

  font-family: 'otama.epregular';
  font-weight: normal;
  font-style: normal;
}

/*---header---*/
header nav {
  display: grid;
  grid-template-columns: 3fr 4fr 0.25fr 0.7fr;
  background-color: #F2F0ED;
}

header h1 {
  margin: 0%;
  margin-top: 10px;
  margin-right: 50px;
}

header img {
  vertical-align: middle;
  height: 2em;
  margin: auto;
}

h1 {
  text-align: right;
  font-size: 220%;
}

h1 img {
  vertical-align: middle;
  margin-right: 40px;
  height: 100px;
}

nav div a {
  text-decoration: none;
  text-align: center;
}

a {
  font-family: "otama.epregula";
  color: black;
  margin: auto;
}

/*---uploadbutton---*/
nav>button {
  background-color: #A68163;
  border-color: #A68163;
  box-shadow: 0 0 0 0.25rem #a68163;
  padding: .375rem .75rem;
  color: white;
  border-radius: 1px;
  width: 75px;
  height: 25%;
  justify-self: center;
  align-self: center;
  border-style: hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  padding: 25px
}

input {
  margin-bottom: 25px;
}

.uploadbutton {
  text-align: right;
  margin-left: 10px;
}

/*---/footer---*/
footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  background-color: #F2F0ED;
  font-size: 150%;
}

footer>a {
  text-decoration: none;
}

footer img {
  height: 70px;
}



@media screen and (max-width: 500px) {
  footer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  footer > img  {
    grid-row: 1;
    justify-self: center;
  }

  footer > a {
    text-align: center;
    }
   footer > a ~ a{
     text-align: center;
   }
  }

/*---underline hover---*/
nav ul {
  text-align: right;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}

nav ul li a {
  color: #2B362D;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (min-width:991px) {
  nav ul li::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #2B362D;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: -.1em;
  }

  nav ul li:hover::after {
    width: calc(100%);
  }
}

/*--dropdown profile----*/
/* Dropdown Button */
.dropbtn {
  color: #F2F0ED;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2F0ED;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #F2F0ED;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
